* {
  box-sizing: border-box;
}

body {
  background: #dac1c1;
  margin: 0;
  font: 500 100% system-ui, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100vh;
}

.wrapper > * {
  padding: 20px;
}

.header {
  display: flex;
  flex: 0 0 40px;
  align-items: center;
  background: rgb(48, 48, 48);
}

.header .nav {
  display: flex;
  gap: 10px;
}

.header a {
  color: yellow;
}

.main {
    background: rgb(249,241,241);
  color: black;
  flex: 1;
}

.footer {
  flex: 0 0 40px;
  background: rgb(48, 48, 48);
  color: yellow;
}

.canvas {
  border: 5px dotted blue
}

.glcanvas {
  width: 800px;
  height: 600px;
  border: 5px dotted blue;
}

.webgl-support-msg {
    padding: 50px;
}

/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  font-size: 0.85rem;
  padding: 10px;
  text-align: right;
  color: var(--black);
}

.page-footer span {
  color: #e31b23;
}
